---
import { type CollectionEntry, getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';

export async function getStaticPaths() {
	const pages = await getCollection('pages');
	return pages.map((page) => {
		return {
			params: { slug: page.slug },
			props: { page }
		};
	});
}

type Props = { page: CollectionEntry<'pages'> };

const { page } = Astro.props;
const { title, seo } = page.data;
const { Content } = await page.render();
---

<BaseLayout title={seo?.title ?? title} description={seo?.description} showHeader={false}>
	<article class="mb-16 sm:mb-24">
		<header class="mb-8">
			<h1 class="mb-12 text-2xl leading-tight font-serif italic sm:mb-16 sm:text-4xl">{title}</h1>
		</header>
		<div class="max-w-none prose prose-dante sm:prose-lg">
			<Content />
		</div>
	</article>
</BaseLayout>
